:root {
  --main: #03045e;
  --accent: #0e5e03;
}

body {
  background-color: #fff;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 6%;
  padding-left: 3%;
  height: 56px;
  background-color: var(--main);
  color: white;
  font-family: "Lato", sans-serif;

  /* position: absolute; */
}

a {
  margin-right: 2.7%;
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  border-radius: 11px;
}

.list-tag {
  background-color: var(--accent);
  padding: 1px 8px 4px 11px;
  font-size: 18px;
  box-shadow: 0 0 5px 1px white;
}

.search-container {
  display: flex;
  margin-top: 2px;
}

input {
  display: inline-block;
  border-right: none;
  border: none;
  width: 92%;
  border-radius: 12px;
  height: 25px;
  padding: 15px;
  box-shadow: 0 0 5px 1px black inset;
  font-family: 'Merriweather', serif;
}

button {
  display: inline-block;
  background-color: transparent;
  border-left: none;
  margin-left: -30px;
  margin-bottom: 0.23px;
  border: none;
  font-size: 15px;
  color: var(--main);
}

.top {
  margin-bottom: 3%;
  font-family: "Merriweather", serif;
  font-size: 24px;
}

.top-all-time::before {
  display: block;
  float: right;
  margin-top: 0.6em;
  border-top: 2px solid black;
  width: 57%;
  content: "";
}

.top-airing::before {
  display: block;
  float: right;
  margin-top: 0.6em;
  border-top: 2px solid black;
  width: 31%;
  content: "";
}

.top-upcoming::before {
  display: block;
  float: right;
  margin-top: 0.6em;
  border-top: 2px solid black;
  width: 16%;
  content: "";
}

td > img {
  width: 100%;
}

.anime-img > img {
  width: 97%;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scrolling-wrapper > img {
  flex: 0 0 auto;
  width: 28.7%;
  border-radius: 5px;
}

.scrolling-wrapper > img:not(:last-child) {
  margin-right: 20px;
}

.anime-title {
  margin-bottom: 3%;
  font-family: "Lato", sans-serif;
  font-size: 28px;
}

.anime-bio {
  width: 97%;
  font-family: "Merriweather", serif;
  line-height: 28px;
}

.list-row {
  width: 97.5%;
}

.list-header {
  margin-bottom: 5%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 28px;
}

table,
th,
td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  font-family: "Merriweather", serif;
}

.hidden {
  display: none;
}
