::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

:root {
  --main: #03045e;
  --accent: #0e5e03;
}

body {
  background-color: #222;
}

.light {
  color: #222;
  background-color: #fff;
}

.dark {
  color: #fff;
  background-color: #222;
}

.top-all-time.light::before,
.top-airing.light::before,
.top-upcoming.light::before {
  border-top: 2px solid black;
}

.loader {
  position: absolute;
  right: 45%;
  top: 30vh;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  z-index: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 320px) {
  header {
    display: flex;
    align-items: center;
    margin-bottom: 6%;
    padding-left: 3%;
    padding-right: 3%;
    height: 56px;
    background-color: var(--main);
    color: white;
    font-family: "Lato", sans-serif;
  }

  a {
    /* margin-right: 2.7%; */
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    border-radius: 11px;
    cursor: pointer;
  }

  .home-tag {
    margin-right: 10%;
  }

  .light-dark-mode {
    font-size: 18px;
    cursor: pointer;
  }

  .user-tag {
    background-color: var(--accent);
    padding: 1px 8px 4px 11px;
    font-size: 18px;
    margin-right: 6%;
  }

  .search-container {
    display: flex;
    margin-top: 2px;
    position: absolute;
    right: 3%;
    width: 30%;
  }

  input {
    display: inline-block;
    border-right: none;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 5px 1px white inset;
    outline: none;
    width: 100%;
    height: 25px;
    padding: 15px;
    padding-right: 28px;
    font-family: 'Merriweather', serif;
  }

  .input-container {
    display: flex;
    justify-content: center;
  }

  .mal-question {
    font-size: 24px;
    margin-bottom: 10%;
    text-align: center;
  }

  .wrong-username {
    color: red;
    margin-bottom: 5%;
  }

  .username-input {
    display: inline-block;
    border-right: none;
    border: none;
    border-radius: 18px;
    box-shadow: 0 0 3px 1px inset;
    width: 75%;
    height: 28px;
    padding: 21px;
    padding-right: 28px;
    font-family: 'Merriweather', serif;
    background-color: white !important;
  }

  .username-input.light {
    box-shadow: 0 0 3px 1px black inset;
  }

  .username-input.dark {
    box-shadow: 0 0 3px 1px white inset;
    color: black;
  }

  button {
    display: inline-block;
    border: none;
    border-left: none;
    margin-left: -30px;
    margin-bottom: 0.23px;
    font-size: 15px;
    outline: none;
    background-color: transparent;
    color: #222;
    cursor: pointer;
  }

  .username-button {
    font-size: 35px;
  }

  .top {
    margin-bottom: 3%;
    font-family: "Merriweather", serif;
    font-size: 18px;
  }

  .top-all-container {
    position: relative;
  }

  .top-airing-container {
    position: relative;
  }

  .top-upcoming-container {
    position: relative;
  }

  .top-all-time::before {
    display: block;
    float: right;
    margin-top: 0.6em;
    border-top: 2px solid silver;
    width: 66%;
    content: "";
  }

  .top-airing::before {
    display: block;
    float: right;
    margin-top: 0.6em;
    border-top: 2px solid silver;
    width: 46%;
    content: "";
  }

  .top-upcoming::before {
    display: block;
    float: right;
    margin-top: 0.6em;
    border-top: 2px solid silver;
    width: 34%;
    content: "";
  }

  td > img {
    width: 100%;
  }

  .anime-img > img {
    width: 78%;
    border-radius: 10px;
  }

  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .scrolling-wrapper > img.dark {
    flex: 0 0 auto;
    width: 29.5%;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
  }

  .scrolling-wrapper > img.light {
    flex: 0 0 auto;
    width: 29.5%;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
  }

  .scrolling-wrapper > img:not(:nth-last-child(3)) {
    margin-right: 20px;
  }

  .scrolling-wrapper > img:hover {
    -webkit-filter: brightness(40%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  .details-row {
    text-align: center;
  }

  .anime-title {
    margin-bottom: 3%;
    font-family: "Lato", sans-serif;
    font-size: 24px;
  }

  .anime-bio {
    width: 97%;
    font-family: "Merriweather", serif;
    line-height: 28px;
    text-align: justify;
  }

  .list-row {
    text-align: center;
  }

  .list-header {
    margin-bottom: 5%;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 28px;
  }

  .user-search {
    color: #0f80ff;
    margin-bottom: 5%;
  }

  .user-search > span {
    cursor: pointer;
  }

  .table-container {
    overflow: hidden;
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Merriweather", serif;
    margin: auto;
    color: white;
    background-color: #222;
  }

  thead {
    background-color: #333;
  }

  .iframe-row {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .arrow {
    display: none !important;
  }
}

@media screen and (min-width: 375px) {
  .home-tag {
    margin-right: 17%;
  }

  .username-input {
    width: 75%;
  }

  .top-all-time::before {
    width: 71%;
  }

  .top-airing::before {
    width: 54%;
  }

  .top-upcoming::before {
    width: 44%;
  }
}

@media screen and (min-width: 425px) {
  .home-tag {
    margin-right: 17%;
  }

  .top-all-time::before {
    width: 66%;
  }

  .top-airing::before {
    width: 46%;
  }

  .top-upcoming::before {
    width: 34%;
  }

  .scrolling-wrapper > img.dark {
    width: 30%;
    border: 2px solid white;
  }

  .scrolling-wrapper > img.light {
    width: 30%;
    border: 2px solid black;
  }
}

@media screen and (min-width: 568px) {
  header {
    margin-bottom: 2%;
  }

  .home-tag {
    margin-right: 31%;
  }

  .top {
    font-size: 24px;
  }

  .top-all-time::before {
    width: 74%;
  }

  .top-airing::before {
    width: 59%;
  }

  .top-upcoming::before {
    width: 50%;
  }

  .scrolling-wrapper > img.dark {
    width: 22%;
  }

  .scrolling-wrapper > img.light {
    width: 22%;
  }

  .mal-question {
    margin-bottom: 7%;
  }

  .username-input {
    width: 57%;
  }
}

@media screen and (min-width: 768px) {
  header {
    margin-bottom: 5%;
  }

  a {
    /* margin-right: 1.7%; */
    font-size: 24px;
  }

  .home-tag {
    margin-right: 34%;
  }

  .user-tag {
    font-size: 24px;
    margin-right: 5%;
  }

  .light-dark-mode {
    font-size: 24px;
  }

  .anime-img > img {
    width: 36%;
  }

  .top {
    font-size: 32px;
  }

  .top-all-time::before {
    width: 75%;
  }

  .top-airing::before {
    width: 60%;
  }

  .top-upcoming::before {
    width: 51%;
  }

  .list-header {
    font-size: 48px;
  }

  .anime-title {
    font-size: 48px;
  }

  .anime-bio {
    font-size: 24px;
    line-height: 40px;
  }

  .mal-question {
    font-size: 36px;
  }

  .user-search > span {
    font-size: 24px;
  }

  table,
  th,
  td {
    font-size: 24px;
  }

  .wrong-username {
    font-size: 24px;
  }

  .username-input {
    width: 60%;
    font-size: 18px;
  }

  .scrolling-wrapper > img.dark {
    width: 31.3%;
    border: 2px solid white;
  }

  .scrolling-wrapper > img.light {
    width: 31.3%;
    border: 2px solid black;
  }
}

@media screen and (min-width: 667px) and (orientation: landscape) {
  header {
    margin-bottom: 2%;
  }

  .user-tag {
    margin-right: 5%;
  }

  .home-tag {
    margin-right: 40%;
  }

  .search-container {
    width: 26%;
  }

  .top {
    font-size: 24px;
  }

  .top-all-time::before {
    width: 78%;
  }

  .top-airing::before {
    width: 65%;
  }

  .top-upcoming::before {
    width: 57%;
  }

  .scrolling-wrapper > img.dark {
    width: 22.6%;
  }

  .scrolling-wrapper > img.light {
    width: 22.6%;
  }

  .anime-img > img {
    width: 27%;
  }

  .mal-question {
    margin-bottom: 8%;
    margin-top: 9%;
  }

  .username-input {
    width: 50%;
  }
}

@media screen and (min-width: 812px) {
  .top-all-time::before {
    width: 82%;
  }

  .top-airing::before {
    width: 71%;
  }

  .top-upcoming::before {
    width: 65%;
  }

  .scrolling-wrapper > img.dark {
    width: 17.9%;
  }

  .scrolling-wrapper > img.light {
    width: 17.9%;
  }

  .list-header {
    font-size: 36px;
  }

  .anime-bio {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    margin-bottom: 2%;
  }

  .top {
    font-size: 36px;
  }

  .scrolling-wrapper > img.dark {
    width: 23.1%;
    border: 2px solid white;
  }

  .scrolling-wrapper > img.light {
    width: 23.1%;
    border: 2px solid black;
  }

  .scrolling-wrapper > img:not(:last-child) {
    margin-right: 23px;
  }

  .home-tag {
    margin-right: 49%;
  }

  .user-tag {
    margin-right: 5%;
  }

  .search-container {
    width: 22%;
  }

  .top-all-time::before {
    width: 78%;
  }

  .top-airing::before {
    width: 66%;
  }

  .top-upcoming::before {
    width: 58%;
  }

  .anime-bio {
    line-height: 42px;
    font-size: 24px;
  }

  .arrow {
    display: inline-block !important;
    font-size: 24px;
    color: #fff;
    background-color: #333;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }

  .top-arrow-left {
    position: absolute;
    padding-top: 1px;
    padding-left: 3px;
    left: 4px;
    top: 50%;
  }

  .top-arrow-right {
    position: absolute;
    padding-top: 1px;
    padding-left: 3px;
    right: 4px;
    top: 50%;
  }

  .airing-arrow-left {
    position: absolute;
    padding-top: 1px;
    padding-left: 3px;
    left: 4px;
    top: 50%;
  }

  .airing-arrow-right {
    position: absolute;
    padding-top: 1px;
    padding-left: 3px;
    right: 4px;
    top: 50%;
  }

  .upcoming-arrow-left {
    position: absolute;
    padding-top: 1px;
    padding-left: 3px;
    left: 4px;
    top: 50%;
  }

  .upcoming-arrow-right {
    position: absolute;
    padding-top: 1px;
    padding-left: 3px;
    right: 4px;
    top: 50%;
  }

  .username-input {
    width: 46%;
  }
}

@media screen and (min-width: 1400px) {
  a {
    font-size: 36px;
  }

  .search-container {
    width: 20%;
  }

  .top {
    margin-bottom: 1%;
    font-size: 48px;
  }

  .home-tag {
    margin-right: 53%;
  }

  .user-tag {
    margin-right: 3.5%;
  }

  .top-all-time::before {
    width: 79%;
  }

  .top-airing::before {
    width: 67%;
  }

  .top-upcoming::before {
    width: 59%;
  }

  .scrolling-wrapper > img.dark {
    width: 11.3%;
  }

  .scrolling-wrapper > img.light {
    width: 11.3%;
  }

  .anime-img > img {
    width: 15%;
  }

  .arrow {
    width: 35px;
    height: 35px;
    padding-top: 5px;
    padding-left: 6px;
  }

  .list-header {
    font-size: 36px;
  }

  .row {
    margin-bottom: 2%;
  }

  .mal-question {
    margin-bottom: 2%;
  }

  .username-input {
    width: 17%;
  }

  .user-search > span {
    font-size: 24px;
  }
}

@media screen and (min-width: 1550px) {
  .home-tag {
    margin-right: 56%;
  }
}

@media screen and (min-width: 1850px) {
  .home-tag {
    margin-right: 58%;
  }

  .top-all-time::before {
    width: 84%;
  }

  .top-airing::before {
    width: 75%;
  }

  .top-upcoming::before {
    width: 70%;
  }
}

@media screen and (min-width: 1920px) {
  .home-tag {
    margin-right: 60%;
  }
}
