body {
  background-color: #fff;
}

header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 11%;
  padding-left: 3%;
  height: 56px;
  background-color: #e63946;
  font-family: "Lato", sans-serif;
}

a,
h2 {
  margin-right: 2%;
  color: inherit;
  text-decoration: none;
  font-size: 24px;
}

.search-container {
  padding-bottom: 0.8%;
}

input {
  width: 99%;
}

.top {
  margin-bottom: 3%;
  font-family: "Merriweather", serif;
}

.top-all-time::before {
  display: block;
  float: right;
  margin-top: 0.6em;
  border-top: 2px solid black;
  width: 75%;
  content: "";
}

.top-airing::before {
  display: block;
  float: right;
  margin-top: 0.6em;
  border-top: 2px solid black;
  width: 61%;
  content: "";
}

td > img {
  width: 100%;
}

.anime-img > img {
  width: 97%;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scrolling-wrapper > img {
  flex: 0 0 auto;
  width: 28.7%;
  border-radius: 5px;
}

.scrolling-wrapper > img:not(:last-child) {
  margin-right: 20px;
}

.anime-title {
  margin-bottom: 3%;
  font-family: "Lato", sans-serif;
  font-size: 28px;
}

.anime-bio {
  width: 97%;
  font-family: "Merriweather", serif;
  line-height: 28px;
}

.list-row {
  width: 97.5%;
}

.list-header {
  font-family: "Lato", sans-serif;
}

table,
th,
td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.hidden {
  display: none;
}
