
/* Variables */
:root {
  --main: #f2f5ea;
  --accent: #1e152a;
}

/* Global */
body {
  background-color: var(--main);
  transition: background-color .3s ease-in-out;
}

h1 {
  padding: 0.5rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 2.2rem;
}

h2 {
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

h3 {
  font-size: 1rem;
  font-family: Hind, sans-serif;
  font-weight: 400;
}

label {
  font-family: Hind, sans-serif;
}

p {
  line-height: 1.5;
  font-family: Hind, sans-serif;
  font-weight: 300;
}

[data-theme="dark"] {
  & h1, & h2, & h3, & label, & p {
    color: #fff;
  }
}

.light {
  color: #222;
  background-color: #fff;
}

.dark {
  color: #fff;
  background-color: #222;
}

a {
  color: white;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
}

.light-dark-mode {
  cursor: pointer;
}

/* Utility */
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.hidden {
  display: none;
}

/* Navbar */
.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  background-color: var(--accent);
  transition: background-color .3s ease-in-out;
}

.fa-lightbulb {
  color: white;
}

/* Home page */

img {
  width: 100%;
  border-radius: 0.5rem;
}

.column-half > h2,
.column-half > p,
.column-half > h3 {
  margin-bottom: 0.5rem;
}

.anime {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
}

.image-container {
  margin-bottom: 0.3rem;
  transition: transform 0.3s ease;
}

.image-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.text-container {
  font-size: 1rem;
}

.text-container > h2 {
  margin-bottom: 0.2rem;
}

.padding-left {
  padding-left: 1rem;
}

.anime-container {
  flex-wrap: wrap;
}

.anime-select-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.loader {
  position: absolute;
  right: 45%;
  top: 30vh;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  z-index: 1;
}

/* Anime page */
.anime-page-title {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.anime-content {
  margin-top: 1rem;
}

.individual-image-container {
  margin-bottom: 1rem;
}

.individual-image {
  height: auto;
}

.anime-description {
  margin-bottom: 1rem;
}

iframe {
  aspect-ratio: 16/9;
  height: 100%;
  width: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (width >= 375px) {
  .anime {
    width: 50%;
    padding-right: 0.5rem;
  }

  img {
    height: 225px;
  }
}

@media screen and (width >= 576px) {
  .anime {
    width: calc(100% / 3);
  }

  .anime-content {
    display: flex;
    gap: 1rem;
  }
}

@media screen and (width >= 768px) {
  .anime {
    width: calc(100% / 4);
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  .anime-page-title {
    font-size: 2rem;
  }
}

@media screen and (width >= 995px) {
  .anime {
    width: calc(100% / 5);
  }

  img {
    height: 275px;
  }

  .anime-description > p {
    font-size: 1.18rem;
    line-height: 1.7;
  }
}
