
/* Variables */
:root {
  --main: #F2F5EA;
  --accent: #1E152A;
}

body {
  background-color: var(--main);
}

.light {
  color: #222;
  background-color: #fff;
}

.dark {
  color: #fff;
  background-color: #222;
}

/* Global */
a {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
}


/* Utility */
.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.hidden {
  display: none;
}


/* Navbar */
.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  background-color: var(--accent);
}

.fa-lightbulb {
  color: white;
}


/* Home page */
h1 {
  padding: 0.5rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
}

label {
  font-family: 'Hind', sans-serif;
}

h2 {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

h3 {
  font-size: 1rem;
  font-family: 'Hind', sans-serif;
  font-weight: 400;
}

img {
  width: 100%;

  border-radius: .5rem;
}

p {
  line-height: 1.5;
  font-family: 'Hind', sans-serif;
  font-weight: 300;
}

.column-half  > h2, .column-half > p, .column-half > h3 {
  margin-bottom: .5rem;
}

.anime {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
}

.image-container {
  margin-bottom: .3rem;
  transition: transform .3s ease;
}

.image-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.text-container {
  font-size: 1rem;
}

.text-container > h2 {
  margin-bottom: .2rem;
}

.padding-left {
  padding-left: 1rem;
}

.anime-container {
  flex-wrap: wrap;
}

.anime-select-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.loader {
  position: absolute;
  right: 45%;
  top: 30vh;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  z-index: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 375px) {
  .anime {
    width: 50%;
    padding-right: .5rem;
  }

  img {
      height: 225px;
  }
}

@media screen and (min-width: 576px) {
  .anime {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 768px) {
  .anime {
    width: calc(100% / 4);
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 995px) {
  .anime {
    width: calc(100% / 5);
  }

  img {
    height: 275px;
  }
}
